//FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fontMain:'Poppins';

$fontSize:(
    'cero': 0.8rem,
    'uno': 1rem,
    'dos': 1.2rem,
    'tres': 2rem,
    'cuatro': 2.5rem,
    'cinco': 3rem,
)

;
$textM: 3rem;
$textS: 2rem;
$textXsm: 1.1rem;
$textLight: 300;
$textNormal: 500;
$textBold: 600;
$textExtraBold: 700;

*{
    font-family: $fontMain;
}

//variables globales

$mainColor:rgb(255, 255, 255);
$secondaryColor: rgb(0, 0, 0);
$keyColor:#F0EB13;
$keyColor2:#37C5F3;
$keyColor3:#B7D539;

//sizing
;
$w-100:100%;
$w-75:75%;
$w-50:50%;
$w-25:25%;
$h-100:100%;
$h-full:100vh;

*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html{
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.body {
    overflow-x: hidden;
    min-height: $h-full;
    display: flex;
    flex-direction: column;
    background-image: url(../media/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}